/* roboto-300 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"),
		url("fonts/roboto-v20-latin-300.woff2") format("woff2");
}
/* roboto-regular - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"),
		url("fonts/roboto-v20-latin-regular.woff2") format("woff2");
}
/* roboto-500 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"),
		url("fonts/roboto-v20-latin-500.woff2") format("woff2");
}

/* poppins-regular - latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: local("Poppins Regular"), local("Poppins-Regular"),
		url("fonts/poppins-v9-latin-regular.woff2") format("woff2");
}
/* poppins-500 - latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	src: local("Poppins Medium"), local("Poppins-Medium"),
		url("fonts/poppins-v9-latin-500.woff2") format("woff2");
}

body {
	--mdc-theme-primary: #3f51b5;
	--mdc-theme-secondary: #f44336;
	font-family: Roboto, sans-serif;
	background-color: black;
	display: flex;
	flex-direction: column;
}

.options {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 16px;
	top: 0;
	position: sticky;
	background-color: white;
}

.options__setup > .mdc-button {
	margin-bottom: 16px;
}

.options__select {
	display: none;
}

.renderer {
	display: none;
}

body::-webkit-scrollbar {
	border-radius: 100px;
	background-color: transparent;
	width: 8px;
	height: 8px;
}
body::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
body::-webkit-scrollbar-corner {
	background-color: transparent;
}
body::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0.2);
	min-height: 28px;
}
body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-track {
	background-clip: padding-box;
	border-width: 0 0 0 4px;
}
